/**
 * Tailwind CSS imports
 * View the full documentation at https://tailwindcss.com
 */
@tailwind base;
@tailwind components;
@tailwind utilities;

/**
 * WHAT IS THIS FILE?
 *
 * Globally applied styles. No matter which components are in the page or matching route,
 * the styles in here will be applied to the Document, without any sort of CSS scoping.
 *
 */

:root {
	--qwik-dark-blue: #006ce9;
	--qwik-light-blue: #18b6f6;
	--qwik-light-purple: #ac7ff4;
	--qwik-dark-purple: #713fc2;
}

body {
	background: linear-gradient(
		90deg,
		rgba(24, 182, 246, 0.3) 0%,
		rgba(172, 127, 244, 0.3) 100%
	);
	font-family: ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont,
		sans-serif;
	font-weight: 200;
	padding: 10px 0px;
}

::selection {
	background: rgb(8, 2, 61);
	color: white;
}

h1,
h2,
h3 {
	font-weight: 100;
}

h1 b,
h2 b,
h3 b {
	font-weight: 300;
}

input[type='text'],
button {
	background-color: transparent;
	color: white;
	border: 1px solid white;
	border-radius: 12px;
	font-size: 1rem;
	padding: 10px 20px;
}

button {
	cursor: pointer;
}

button:hover {
	background-color: white;
	color: var(--qwik-dark-purple);
}

button.small {
	border-radius: 6px;
	font-size: 0.8rem;
	padding: 5px 10px;
}

button.gray {
	border-color: #aaa;
	color: #aaa;
}

a,
a:active,
a:visited,
a:hover {
	color: black;
	font-weight: 400;
	text-decoration: underline;
}

.section.bright {
	background: white;
}

.section.dark {
	background: rgba(50, 50, 50, 0.5);
}

code {
	background: rgba(230, 230, 230, 0.3);
	border-radius: 4px;
	padding: 2px 6px;
}

ul {
	margin: 0;
	padding-left: 20px;
}

.page {
	width: 90vw;
	max-width: 1200px;
	margin: 0 auto;
	background: linear-gradient(
		90deg,
		rgba(24, 182, 246, 0.6) 0%,
		rgba(172, 127, 244, 0.6) 100%
	);
	border-radius: 6px;
}

.container {
	padding: 20px 10px;
}

.container.center {
	text-align: center;
}

.topics {
	display: grid;
	grid-template-columns: 1fr;
}

/* used icon pack: https://www.svgrepo.com/collection/phosphor-thin-icons */
.icon:before {
	width: 18px;
	height: 18px;
	content: '';
	display: inline-block;
	margin-right: 5px;
	position: relative;
	top: 2px;
}

/**
 * WHAT IS THIS FILE?
 *
 * Globally applied styles. No matter which components are in the page or matching route,
 * the styles in here will be applied to the Document, without any sort of CSS scoping.
 *
 */
html {
	line-height: 1.5;
	-webkit-text-size-adjust: 100%;
	-moz-tab-size: 4;
	-o-tab-size: 4;
	tab-size: 4;
	font-family: ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont,
		'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans', sans-serif,
		'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
}

body {
	padding: 0;
	line-height: inherit;
}
